<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605604204810-j9tti12hgpp72dhb2e5je6mplh5jlqiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605604204810-j9tti12hgpp72dhb2e5je6mplh5jlqiv</string>
	<key>API_KEY</key>
	<string>AIzaSyBlDXlhmYxeuUl81ilr7kr3PUg11pXnRCA</string>
	<key>GCM_SENDER_ID</key>
	<string>605604204810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AbdullahGebreil.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-e4f4d</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-e4f4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605604204810:ios:08ee9f3fc34dde4754eaf3</string>
	<key>DATABASE_URL</key>
	<string>https://artable-e4f4d.firebaseio.com</string>
</dict>
</plist>